redis_port = ":6380"

private_key_variable = ""
initial_signing_policy_offset = 0
signing_policy_fetch_interval = "20s"

chain_id = 114

[db]
host = "<indexer-db-host>"
port = 3306
database = "<indexer-db-name>"
username = "<indexer-db-user>"
password = "<indexer-db-password>"
log_queries = false

[addresses]
flare_systems_manager = "0xA90Db6D10F856799b10ef2A77EBCbF460aC71e52"
relay = "0xa10B672D1c62e5457b17af63d4302add6A99d7dE"
voter_registry = "0x6a0AF07b7972177B176d3D422555cbc98DfDe914"



[ports]
internal = "6663"
external = "6664"


[info_timing]
cycle_internal = "10s"
cycle_queue_response_wait ="2s"


[voting]
proposal_expiration = "12s"
max_pending_request = 10000
